@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/admindek/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="~/admindek/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/admindek/assets/libs/css/style.css">
    <link rel="stylesheet" href="~/admindek/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="~/admindek/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/css/site.css">
    <script src="~/js/site.js"></script>
    <script src="~/js/admin.js"></script>
    <title>Bookstore - Admin Dashboard</title>
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="https://localhost:44360">BookStore</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">

                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="~/admindek/assets/images/avatar-1.jpg" alt="" class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">
                                        @UserManager.GetUserName(User)
                                    </h5>
                                </div>
                                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index"><i class="fas fa-user mr-2"></i>Account</a>
                                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm">
                                    <button type="submit" class="dropdown-item" style="cursor: pointer;" href="#"><i class="fas fa-power-off mr-2"></i>Logout</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
                <div class="menu-list" style="overflow: hidden; width: auto; height: 100%;">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav flex-column">
                                <li class="nav-divider">
                                    Menu
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" asp-area="Admin" asp-controller="Dashboard" asp-action="Index"><i class="fa fa-fw fa-user-circle"></i>Dashboard</a>
                                </li>



                                <li class="nav-item">
                                    <a class="nav-link collapsed" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-5" aria-controls="submenu-5"><i class="fas fa-fw fa-table"></i>Tables</a>
                                    <div id="submenu-5" class="submenu collapse" style="">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link" asp-area="Admin" asp-controller="Books" asp-action="Index">Books</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" asp-area="Admin" asp-controller="Orders" asp-action="Index">Orders</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" asp-area="Admin" asp-controller="Users" asp-action="Index">Users</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" asp-area="Admin" asp-controller="Categories" asp-action="Index">Categories</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" asp-area="Admin" asp-controller="CategorySubjects" asp-action="Index">Category Subjects</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link collapsed" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-5"><i class="fas fa-fw fa-table"></i>Reports</a>
                                    <div id="submenu-6" class="submenu collapse" style="">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link" asp-area="Admin" asp-controller="Reports" asp-action="TopBooks">Top Sold Books</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" asp-area="Admin" asp-controller="Reports" asp-action="TopUsers">Top Users</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>





                            </ul>
                        </div>
                    </nav>
                </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 636px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper" style="min-height: 400px !important;">
            <div class="container-fluid" style="padding: 30px;">


                @RenderBody()

            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end main wrapper -->
        <!-- ============================================================== -->
        <!-- Optional JavaScript -->
        <script src="~/admindek/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
        <script src="~/admindek/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
        <script src="~/admindek/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
        <script src="~/admindek/assets/libs/js/main-js.js"></script>
        <script>
            $(document).ready(function () {

                // binding the check all box to onClick event
                $(".chk_all").click(function () {

                    var checkAll = $(".chk_all").prop('checked');
                    if (checkAll) {
                        $(".checkboxes").prop("checked", true);
                    } else {
                        $(".checkboxes").prop("checked", false);
                    }

                });

                // if all checkboxes are selected, then checked the main checkbox class and vise versa
                $(".checkboxes").click(function () {

                    if ($(".checkboxes").length == $(".subscheked:checked").length) {
                        $(".chk_all").attr("checked", "checked");
                    } else {
                        $(".chk_all").removeAttr("checked");
                    }

                });

            });
            @RenderSection("Scripts", false)
        </script>

    </div>
</body>

</html>